<a href="https://colab.research.google.com/github/waltermmjr/skills-communicate-using-markdown/blob/main/Overview_of_Colaboratory_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#exercicio 5 - cálculo da área do triângulo

b = 9 #base do triângulo

h = 6  #altura triângulo


area = (b * h) / 2 #calcula a área do triângulo

print(f'A área do triângulo de base {b} e altura {h} é {area}.') #exibe em tela a base, altura e área

A área do triângulo de base 9 e altura 6 é 27.0.

In [7]:
#exercicio 6 - cálculo da área do triângulo

b = input('Digite a base do triângulo: ') #base do triângulo

b = float(b)

h = input('Digite a altura do triângulo: ') #altura triângulo

h = float(h)

area = (b * h) / 2 #calcula a área do triângulo

print(f'A área do triângulo de base {b} e altura {h} é {area}.') #exibe em tela a base, altura e área

Digite a base do triângulo: 9
Digite a altura do triângulo: 6
A área do triângulo de base 9.0 e altura 6.0 é 27.0.

In [10]:
#exercicio 7 - cálculo salário bruto funcionário

valor_hora_trabalhada = 14.25 #valor hora trabalhada

valor_hora_extra = 2 * valor_hora_trabalhada #calcula valor hora extra

hora_trabalhada = 163 #quantidade hora trabalhada

hora_extra = 20 #quantidade hora extra

salario_bruto = hora_trabalhada * valor_hora_trabalhada + hora_extra * valor_hora_extra #calcula salário Bruto (hora trabalhada paga dobrado)

print(f'O salário bruto do funcionário é {salario_bruto}') #exibe salario bruto funcionário

O salário bruto do funcionário é 2892.75

In [16]:
#exercicio 8 - cálculo expressões numéricas

A = 4

B = 5

C = 1

R = (A + B) / 2 #cálculo da expressão 8.a

print(f'O valor de R é {R}') #exibe valor de R

x = (-B + ((B ** 2 - 4 * A * C) ** 1/2)) / 2 * A #cálculo da expressão 8.b

print(f'O valor de x é {x}') #exibe valor de x

R = (3 * A + 2 * B) / (A + B) #cálculo da expressão 8.c

print(f'O valor de R é {R}') #exibe valor de R

Z= 7.6 * A - B ** 1.7 #cálculo da expressão 8.d

print(f'O valor de Z é {Z}') #exibe valor de Z

x1 = 1

y1 = 1

x2 = 4

y2= 5

d = ((x1 - x2)** 2 + y1 - y2 ** 2 )** (1/2) #cálculo da expressão 8.e

print(f'O valor de d é {d}') #exibe valor de d

O valor de R é 4.5
O valor de x é -1.0
O valor de R é 2.4444444444444446
O valor de Z é 14.974153431999758
O valor de d é (2.3715183290419594e-16+3.872983346207417j)

In [36]:
#exercicio Escreva um programa que leia do teclado as coordenadas (x1, y1) do ponto 1 e (x2, y2) do ponto 2.
#Utilizando a expressão do item 8.e, determine a distância entre esses dois pontos
#e exiba-a na tela com três casas decimais. Teste-o com os dados da tabela
#a seguir.


x1 = input('Digite o valor de x1 ') #coordenada x1

x1 = float(x1) #converte str em float

y1 = input('Digite o valor de y1 ') #coordenada y1

y1 = float(y1) #converte str em float

x2 = input('Digite o valor de x2 ') #coordenada x2

x2 = float(x2) #converte str em float

y2 = input('Digite o valor de y2 ') #coordenada y2

y2 = float(y2) #converte str em float

d = ((x2 - x1)** 2 + (y2 - y1)** 2 ) ** (1/2) #cálculo da expressão 8.e

print(f'A distância entre os 2 pontos é {d}') #exibe valor de d

print(f'A distância entre os 2 pontos é {round(d, 3)}') #exibe valor de d com 3 casas decimais

Digite o valor de x1 -3
Digite o valor de y1 1.5
Digite o valor de x2 7.1
Digite o valor de y2 5.5
A distância entre os 2 pontos é 10.863240768757727
A distância entre os 2 pontos é 10.863

In [47]:
#exemplo 10 -

#entrada de produto, quantidade vendida e valor unitário
nome_item01 = input('Digite o nome do item 01: ')
quantidade_item01 = input(f'Digite a quantidade vendida de {nome_item01}: ')
valor_item01 = input(f'Digite o valor do {nome_item01}: ')

nome_item02 = input('Digite o nome do item 02: ')
quantidade_item02 = input(f'Digite a quantidade vendida de {nome_item02}: ')
valor_item02 = input(f'Digite o valor do {nome_item02}: ')

nome_item03 = input('Digite o nome do item 03: ')
quantidade_item03 = input(f'Digite a quantidade vendida de {nome_item03}: ')
valor_item03 = input(f'Digite o valor do {nome_item03}: ')

#conferindo o tipo de dado de entrada
print(type(nome_item01))
print(type(quantidade_item01))
print(type(valor_item01))

#convertendo str em int
quantidade_item01 = int(quantidade_item01)
quantidade_item02 = int(quantidade_item02)
quantidade_item03 = int(quantidade_item03)

#convertendo str em float
valor_item01 = float(valor_item01)
valor_item02 = float(valor_item02)
valor_item03 = float(valor_item03)

#conferindo tipo das variáveis após conversão
print(type(quantidade_item01))
print(type(valor_item01))

#vendo subtotal por produto
subtotal_item01 = quantidade_item01 * valor_item01
subtotal_item02 = quantidade_item02 * valor_item02
subtotal_item03 = quantidade_item03 * valor_item03

#exibindo os resultados
print(f'Subtotal item 01: {subtotal_item01}')
print(f'Subtotal item 02: {subtotal_item02}')
print(f'Subtotal item 03: {subtotal_item03}')

#cálculo do total das vendas (soma dos subitens)
total_vendas = subtotal_item01 + subtotal_item02 + subtotal_item03

#exibindo o valor total de vendas
print(f'Valor Total de Vendas : {total_vendas}')

Digite o nome do item 01: boneco
Digite a quantidade vendida de boneco: 17
Digite o valor do boneco: 18.5
Digite o nome do item 02: spinner
Digite a quantidade vendida de spinner: 36
Digite o valor do spinner: 12.
Digite o nome do item 03: cubo
Digite a quantidade vendida de cubo: 7
Digite o valor do cubo: 5.9
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
Subtotal item 01: 314.5
Subtotal item 02: 432.0
Subtotal item 03: 41.300000000000004
Valor Total de Vendas : 787.8