<a href="https://colab.research.google.com/github/waltermmjr/skills-communicate-using-markdown/blob/main/Overview_of_Colaboratory_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#exercicio 5 - cálculo da área do triângulo

b = 9 #base do triângulo

h = 6  #altura triângulo


area = (b * h) / 2 #calcula a área do triângulo

print(f'A área do triângulo de base {b} e altura {h} é {area}.') #exibe em tela a base, altura e área

A área do triângulo de base 9 e altura 6 é 27.0.

In [ ]:
#exercicio 6 - cálculo da área do triângulo

b = input('Digite a base do triângulo: ') #base do triângulo

b = float(b)

h = input('Digite a altura do triângulo: ') #altura triângulo

h = float(h)

area = (b * h) / 2 #calcula a área do triângulo

print(f'A área do triângulo de base {b} e altura {h} é {area}.') #exibe em tela a base, altura e área

Digite a base do triângulo: 9
Digite a altura do triângulo: 6
A área do triângulo de base 9.0 e altura 6.0 é 27.0.

In [ ]:
#exercicio 7 - cálculo salário bruto funcionário

valor_hora_trabalhada = 14.25 #valor hora trabalhada

valor_hora_extra = 2 * valor_hora_trabalhada #calcula valor hora extra

hora_trabalhada = 163 #quantidade hora trabalhada

hora_extra = 20 #quantidade hora extra

#calcula salário Bruto (hora trabalhada paga dobrado)
salario_bruto = hora_trabalhada * valor_hora_trabalhada + hora_extra * valor_hora_extra

print(f'O salário bruto do funcionário é {salario_bruto}') #exibe salario bruto funcionário

O salário bruto do funcionário é 2892.75

In [ ]:
#exercicio 8 - cálculo expressões numéricas

A = 4

B = 5

C = 1

R = (A + B) / 2 #cálculo da expressão 8.a

print(f'O valor de R é {R}') #exibe valor de R

x = (-B + ((B ** 2 - 4 * A * C) ** 1/2)) / 2 * A #cálculo da expressão 8.b

print(f'O valor de x é {x}') #exibe valor de x

R = (3 * A + 2 * B) / (A + B) #cálculo da expressão 8.c

print(f'O valor de R é {R}') #exibe valor de R

Z= 7.6 * A - B ** 1.7 #cálculo da expressão 8.d

print(f'O valor de Z é {Z}') #exibe valor de Z

x1 = 1

y1 = 1

x2 = 4

y2= 5

d = ((x1 - x2)** 2 + y1 - y2 ** 2 )** (1/2) #cálculo da expressão 8.e

print(f'O valor de d é {d}') #exibe valor de d

In [ ]:
#exercicio Escreva um programa que leia do teclado as coordenadas (x1, y1) do ponto 1
#e (x2, y2) do ponto 2.Utilizando a expressão do item 8.e, determine a distância entre
#esses dois pontose exiba-a na tela com três casas decimais. Teste-o com os dados
#da tabelaa seguir.


x1 = input('Digite o valor de x1 ') #coordenada x1

x1 = float(x1) #converte str em float

y1 = input('Digite o valor de y1 ') #coordenada y1

y1 = float(y1) #converte str em float

x2 = input('Digite o valor de x2 ') #coordenada x2

x2 = float(x2) #converte str em float

y2 = input('Digite o valor de y2 ') #coordenada y2

y2 = float(y2) #converte str em float

d = ((x2 - x1)** 2 + (y2 - y1)** 2 ) ** (1/2) #cálculo da expressão 8.e

print(f'A distância entre os 2 pontos é {d}') #exibe valor de d

print(f'A distância entre os 2 pontos é {round(d, 3)}') #exibe valor de d com 3 casas decimais

In [ ]:
#exemplo 10 -

#entrada de produto, quantidade vendida e valor unitário
nome_item01 = input('Digite o nome do item 01: ')
quantidade_item01 = input(f'Digite a quantidade vendida de {nome_item01}: ')
valor_item01 = input(f'Digite o valor do {nome_item01}: ')

nome_item02 = input('Digite o nome do item 02: ')
quantidade_item02 = input(f'Digite a quantidade vendida de {nome_item02}: ')
valor_item02 = input(f'Digite o valor do {nome_item02}: ')

nome_item03 = input('Digite o nome do item 03: ')
quantidade_item03 = input(f'Digite a quantidade vendida de {nome_item03}: ')
valor_item03 = input(f'Digite o valor do {nome_item03}: ')

#conferindo o tipo de dado de entrada
print(type(nome_item01))
print(type(quantidade_item01))
print(type(valor_item01))

#convertendo str em int
quantidade_item01 = int(quantidade_item01)
quantidade_item02 = int(quantidade_item02)
quantidade_item03 = int(quantidade_item03)

#convertendo str em float
valor_item01 = float(valor_item01)
valor_item02 = float(valor_item02)
valor_item03 = float(valor_item03)

#conferindo tipo das variáveis após conversão
print(type(quantidade_item01))
print(type(valor_item01))

#vendo subtotal por produto
subtotal_item01 = quantidade_item01 * valor_item01
subtotal_item02 = quantidade_item02 * valor_item02
subtotal_item03 = quantidade_item03 * valor_item03

#exibindo os resultados
print(f'Subtotal item 01: {subtotal_item01}')
print(f'Subtotal item 02: {subtotal_item02}')
print(f'Subtotal item 03: {subtotal_item03}')

#cálculo do total das vendas (soma dos subitens)
total_vendas = subtotal_item01 + subtotal_item02 + subtotal_item03

#exibindo o valor total de vendas
print(f'Valor Total de Vendas : {total_vendas}')

In [ ]:
#estrutura condicional

codigo = int(input('Digite o código da forma de pagamento: '))

codigo = int(codigo)
if codigo == 5112:
    print('Pagamento à vista.')
elif codigo == 5113:
    print('Pagamento no cartão de crédito.')
else:
    print('Código inválido.')

In [ ]:
#estrutura de repetição while
numero = 1
while numero != 0:
    numero = int(input('Digite um número para testar se é par ou ímpar: '))
    if numero % 2 == 0:
        print(f'O número {numero} é par.')
    else:
        print(f'O número {numero} é ímpar.')

In [ ]:
#estrutura de repetição for
nome = 'emanuel'
for c in nome:
    print(c)

In [ ]:
#Função Enumerate()
nome = 'guido'

for i, c in enumerate(nome):

    print(f'Posição = {i}, valor = {c}')

In [ ]:
# Controle de repetição com range
# Método 1
for i in range(7):
  print(i)
print ('\n')

# Método 2
for i in range(0, 5):
  print(i)
print ('\n')

#Método 3
for i in range(0, 10, 2):
  print(i)

In [ ]:
#exemplo de uso do break e continue
disciplina = 'Linguagem de programação'
for c in disciplina:
    if c == 'd':
        break
    else:
      print(c)

for c in disciplina:
    if c == 'a':
        continue
    else:
      print(c)

In [ ]:
#Vamos brincar um pouco com o que aprendemos. Vamos criar uma solução
#que procura pelas vogais "a", "e" em um texto (somente minúsculas).
#Toda vez que essas vogais são encontradas, devemos informar que
#encontramos e qual posição do texto ela está

texto = """
A inserção de comentários no código do programa é uma prática normal.
Em função disso, toda linguagem de programação tem alguma maneira de permitir que
comentários sejam inseridos nos programas. O objetivo é adicionar descrições em
partes do código, seja para documentá-lo ou para adicionar uma descrição do
algoritmo implementado (BANIN, 2018, p. 45)."
"""
contador_a = 0
contador_e = 0

for i, c in enumerate(texto):
  if c == 'a' or c == 'e':
    print(f"Vogal '{c}' encontrata, na Posição = {i}")
    if c == 'a':
      contador_a += 1
    elif c == 'e':
      contador_e += 1

print(f"A vogal 'a' foi encontrata {contador_a} vezes.")
print(f"A vogal 'e' foi encontrata {contador_e} vezes.")

In [ ]:
#desafio
#calcular o imposto de renda a ser deduzido do salário dos colaboradores.
#o programa deve solicitar o salário do colaborador e então, informar qual o
#valor do imposto que será deduzido do salário.
#Base de Cálculo	                Alíquota	      Parcela a deduzir do IR
#até 1.903,98                     -               R$ 3-
#De R$ 1.903,98 até R$ 2.826,65	  7,5%	          R$ 142,80
#De R$ 2.826,66 até R$ 3.751,05	  15%	            R$ 354,80
#De R$ 3.751,06 até R$ 4.664,68	  22,5%	          R$ 636,13
#Acima de R$ 4.664,68	            27,5%	          R$ 869,36

salario = 1

#adicionando recursividade
while salario != 0 :
  salario = float(input("Digite o salário do colaborador ou '0' para sair "))

  #teste para verificar em qual faixa de dedução o salário se encaixa
  if salario <= 1903.98:
    valor_deduzido = 0
  elif salario <= 2826.65:
    valor_deduzido = 142.80
  elif salario <= 3751.05:
    valor_deduzido = 354.80
  elif salario <= 4664.68:
    valor_deduzido = 636.13
  else:
    valor_deduzido = 869.36


  #exibe valor deduzido
  if salario != 0:
    print(f"O valor deduzido do salário é de R$ {valor_deduzido}")
    print(f"Salário a receber R${salario - valor_deduzido}")

In [ ]:
a = 2
b = 1
c = 2

equacao = input("Digite a fórmula geral da equação linear (a * x + b): ")
print(f"\nA entrada do usuário {equacao} é do tipo {type(equacao)}.")

for x in range(5):
    y = eval(equacao)
    print(f"\nResultado da equação para x = {x} é {y}")

In [8]:
#funções
def imprimir_mensagem(disciplina, curso):
    return f"Minha primeira função em Python desenvolvida na disciplina: {disciplina}, do curso: {curso}."

mensagem = imprimir_mensagem("Python", "ADS")
print(mensagem)

Minha primeira função em Python desenvolvida na disciplina: Python, do curso: ADS.

In [12]:
#exemplo função
# Vamos implementar uma função que recebe uma data no formato dd/mm/aaaa e converte
# o mês para extenso. Então, ao se receber a data 10/05/2020, a função deverá
# retornar: 10 de maio de 2020.

def converter_mes_para_extenso(data):
    mes = '''janeiro fevereiro março abril maio junho julho agosto setembro
    outubro novembro dezembro'''.split()  #divide lista a cada espaço
    d, m, a = data.split('/')             #divide a data a cada '/'
    mes_extenso = mes[int(m) - 1]         #o mês 01 está na posição 0
    return f'{d} de {mes_extenso} de {a}.'

print(converter_mes_para_extenso('16/07/1985'))

16 de julho de 1985.